@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
   var Role = @HttpContextAccessor.HttpContext.Session.GetString("Role");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelBookingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
    <style type="text/css">
            .carousel-inner {
                width: auto;
                height: 200px;
                max-height: 200px !important;
            }

            .carousel-content {
                color: black;
                display: flex;
                text-align: center;
            }
        </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (Role == "Customer")
                {
                    <a class="navbar-brand" asp-area="" asp-controller="CustomerDashBoard" asp-action="Index">HotelBookingApp</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="AdminDashBoard" asp-action="Index">HotelBookingApp</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""></a>
                        </li>
                        @if (Role == "Customer")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Customer DashBoard
                                </a>
                                <div class="dropdown-menu" arial-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="ViewHistory" asp-controller="Room" class="dropdown-item">View Booking History</a>

                                    
                                </div>
                            </li>
                        }

                      
                    </ul>
                </div>
            
                 <ul class="navbar-nav ml-auto">
                      
                        <li class="nav-item">
                            <form asp-controller="account" asp-action="logout" method="get">
                                <button type="submit" class="nav-link btn btn-link py-0">
                                    Log Out
                                </button>
                            </form>

                        </li>
                 
                </ul>
               
                </ul>
            </div>
        
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
